<h2><%= @user.username %> </h2> has commented on the following posts:

<% @user.posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
<% end %>


<!-- https://github.com/martinezjf2/displaying-has-many-through-rails-onl01-seng-pt-120819.git
Your code looks the same as the lesson's. Please make changes and then try submitting again. -->